
.DS_Store
characters/*.chr
COPYRIGHT.txt
DDLC.py
DDLC.sh
game/*.rpa
game/cache/bytecode.rpyb
game/cache/pyanalysis.rpyb
game/cache/screens.rpyb
game/firstrun
game/python-packages/singleton.py
log.txt
README.html
renpy/*
files.txt
errors.txt
game/saves/navigation.json
game/*.rpyc
hxppy thxughts.png
traceback.txt
game/tl/blind_accessibility/*.rpyc
